<div class="footer">
    <div class="footer1">
        <div class="container-fluid">

            <div class="container ">
                <div class="row">
                    <div class="col-sm-4">
                        <h2>About Us</h2>
                        <p>
                        <div class="myframegmap">
                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3724.206634452755!2d105.8541740505383!3d21.024416493233677!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3135abeb8bb06541%3A0x50aa9701f7eb3676!2zMTEgVHLDoG5nIFRp4buBbiwgSG_DoG4gS2nhur9tLCBIw6AgTuG7mWksIFZp4buHdCBOYW0!5e0!3m2!1svi!2s!4v1552089051834"
                                    width="700" height="500" frameborder="0" style="border:0" allowfullscreen></iframe>
                        </div>
                        </p><br>
                    </div>
                    <div class="col-sm-4">
                        <h2>Home</h2>
                        <p>
                            <i class="fa fa-home"></i>    <a href="#"> Home</a><br>
                            <i class="fa fa-user-o"></i>    <a href="#"> About Us</a><br>
                            <i class="fa fa-map-marker"></i>    <a href="#"> Contact Us</a><br>
                            <i class="fa fa-briefcase"></i>    <a href="#"> Services</a><br>
                            <i class="fa fa-question-circle"></i>    <a href="#"> Term & Conditions</a><br><br>
                        </p>
                    </div>
                    <div class="col-sm-4 ">
                        <h2>Contact Us</h2>
                        <p>
                            <i class="fa fa-phone"></i>    <a href="tel:0123456789"> +1800 6868</a><br>
                            <i class="fa fa-envelope"></i>    <a href="mailto:abc@abc.com"> abc@abc.com</a><br>
                            <i class="fa fa-map-marker"></i>     11 Trang Tien,Ha Noi, VietNam
                        </p>
                        <p>
                            <i class="fa fa-facebook fa-2x" aria-hidden="true"></i>
                            <i class="fa fa-twitter fa-2x" aria-hidden="true"></i>
                            <i class="fa fa-instagram fa-2x" aria-hidden="true"></i>
                        </p>
                        <br>
                    </div>
                </div>
                <div class="clear30"></div>
            </div>
        </div>
    </div>
    <div class="footer2">
        <div class="container-fluid">
            <div class="container">
                <div class="row">
                    <div class="clear30"></div>
                    <div class="col-sm-12 text-center"><p><strong>copyright © 2019-2020 FPT APTECH</strong></p>
                    </div>
                    <div class="clear30"></div>
                </div>
            </div>
        </div>
    </div>
</div>
