<header>
    <nav>
        <div class="menu-icon">
            <i class="fa fa-bars fa-2x"></i>
        </div>
        <div class="logo">
            <div class="img">
                <img src="../thumbnail/RYAN-LOGO1.png" alt="logo">
            </div>
        </div>
        <div class="menu">
            <ul>
                <li><a href="#">HOME</a></li>
                <li><a href="#">Ativities</a></li>
                <li class="has-sub" data-toggle="dropdown"><a href="#">Sports</a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Indoor Sports</a></li>
                        <li><a href="#">Outdoor Sports</a></li>
                        <li><a href="#">Recreation</a></li>
                    </ul>
                </li>
                <li><a href="#">Suggestion & Complaints</a></li>
                <li><a href="#">Feedback</a></li>
                <li class="SignUp"><a href="#">SIGN UP</a></li>
            </ul>
        </div>
    </nav>
</header>
